* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color1: #F6F4EE;
    --color2: #1A1D1E;
    --color3: #0074CC;

    --main-font: 'Helvetica';
    --secondary-font: 'Arial';
}

/* Header Section */

.header-area {
    background-color: var(--color2);
    height: 115px;
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 700;
    color: var(--color1);
}

.header {
    position: fixed;
    width: 100%;
    height: 115px;
    background-color: #1a1d1ec0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    min-width: 800px;
    height: 100%;
    margin: auto;
    padding: 20px 40px;
}

.header-logo img{
    width: 64px;
}

.header-nav {
    display: flex;
    align-items: center;
    margin: 0;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin-right: 40px;
}

.nav-list a {
    text-decoration: none;
    color: var(--color1);
}

.nav-list a:hover {
    color: var(--color3);
    transition: .1s ease-out;
}

.header-account {
    display: flex;
    align-items: center;
}

.header-button{
    background-color: var(--color3);
    width: 32px;
    height: 32px;
    margin-right: 30px;
    border-radius: 100%;
    font-size: 30px;
    font-weight: 700;
    color: var(--color2);
    border: none;
}

.header-button:hover {
    cursor: pointer;
    background-color: var(--color2);
    color: var(--color3);
    transition: .3s ease-in-out;
}

/* Main Area */

.main-area {
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 700;
    color: var(--color2);
}

.slider {
    width: 100%;
}

.slide {
    background-color: var(--color3);
    width: 100%;
    height: 600px;
    padding: 100px;
}

.slide h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

.slide p {
    width: 40%;
}

.main-part {
    background-color: var(--color2);
    color: var(--color1);
}

.main-part-content {
    display: flex;
    flex-direction: column;
    margin: 0 200px;
    padding: 60px 0;
}

.main-part-content h2 {
    text-align: center;
    margin-bottom: 60px;
}

.activity {
    display: inherit;
    justify-content: space-around;
    margin-bottom: 40px;
    padding-top: 20px;
}

.even {
    flex-direction: row-reverse;
}

.img {
    background-color: var(--color3);
    width: 200px;
    height: 200px;
    box-shadow: 2px 3px 4px #1a1d1e85;
    transition: .1s ease-out;
}

.img:hover {
    background-color:#005da5;
    box-shadow: 2px 3px 10px #090a0a;
    transition: .3s ease-out;
}